@font-face {
font-family: 'ocraext';
src: url('../fonts/ocraext.woff') format('woff'), url('../fonts/ocraext.ttf') format('truetype');
}

@font-face {
font-family: 'mriamc';
src: url('../fonts/mriamc.woff') format('woff'), url('../fonts/mriamc.ttf') format('truetype');
}

body { 
  background: url('../images/FS_backround.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	color:#feffb8;
	font-family: 'ocraext';
}

body.hebrew{
	direction: rtl;
	font-family: 'mriamc';
}


.container-fluid {
max-width:1200px;
}

.lead {

font-size: 4em;
text-align:center;
}

.content {
font-size: 2em;
max-width:980px;
margin:0 auto 30px auto;
}

.time {
direction: ltr;
font-size: 6em;
text-align:center;
}

.conclusion {
font-size: 3em;
text-align:center;
margin-top: 20px;
}

.center{
text-align:center;
}
.center img {
	max-width:100%;
}
.text-center{
text-align:center;
margin:0 auto;
}
.languages a{
		display:inline-block;
		line-height:40px;
}
.app-button img{
	margin:0 10px;
}
@media screen and (max-width:480px){
	.lead {
		font-size:2.5em;
		line-height:normal;
	}
	
	.content{
		font-size:1.5em;
	}
	
	.center {
		margin-top:30px;
	}
	
	.time {
		margin-top:20px;
		font-size:2.5em;
	}
	.app-button img{
		border:none;
		margin:10px auto;
		display:block;
	}
	.languages.pull-left{
		float:none !important;
		text-align:center;
	}
	.languages.pull-right{
		float:none !important;
		text-align:center;
	}

	.conclusion {
		font-size: 1.7em;
	}
}