@font-face {
        font-family: 'ocraext';
src: url('../fonts/ocraext.woff') format('woff'), url('../fonts/ocraext.ttf') format('truetype');
}

body { 
  background: url('../images/FS_backround.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p{
color:#feffb8;
}

.lead {
font-family: 'ocraext';
font-size: 4em;
text-align:center;
}

.content {
font-family: 'ocraext';
font-size: 2em;
max-width:980px;
margin:0 auto;
}

.center{
	max-width: 630px; 
	margin: 40px auto;
}
.israel {
position: relative;
top: 140px;
font-family: "ocraext";
font-size: 54px;
left: 30px;
}
.text-center{
	text-align:center;
	margin:0 auto;
}
.bottom-row{
	position:fixed;
	bottom:10px;
	width:100%;
	color:#fff;
}
@media screen and (max-width:480px){
	.lead {
		font-size:2.5em;
		line-height:normal;
	}
	.content{
		font-size:1.5em;
	}
		.center img{
	width: 200px; 
}
.israel {
top: 50px;
font-size:2.5em;
}
.bottom-row{
	position:relative;
}
.bottom-row div{
	text-align:center;
	margin:0 auto;
	float:none !important;
	
}
}